
profiles {

    secure_lustre {
        process.executor = 'local'
        
        params {
        reference_genome = "/lustre/scratch124/jb63/ascat/GRCh38_full_analysis_set_plus_decoy_hla.fa"
        bait_set = "/lustre/scratch124/jb63/ascat/GRCh38_WES5_canonical_pad100.merged.bed"
        resource_files = "/lustre/scratch124/jb63/ascat/resources/1000G_loci_hg38_chr"
        gc_file = "/lustre/scratch124/jb63/ascat/resources/1000G_GC_exome_chr.txt"
        rt_file = "/lustre/scratch124/jb63/ascat/resources/1000G_RT_exome_chr.txt"
        gistic_refgene_file = "/lustre/scratch124/jb63/ascat/hg38.UCSC.add_miR.160920.refgene.mat"
        difficult_regions_file = "/lustre/scratch124/jb63/ascat/resources/GRCh38_alldifficultregions.bed"
        }

        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g) -v /workspaces/ascat:/workspaces/ascat'
        }

        singularity {
            enabled    = false
            autoMounts = false
        }
        process {
            withLabel: big_mem {
                cpus = 8
                memory = 60.GB
            }
        }
    }

    farm22 {
        process.executor = 'lsf'
        process.clusterOptions = "-G team113 -R'select[mem>8000]' -R'rusage[mem=8000]' -M 8000"
        singularity.runOptions = "--bind /lustre"

        docker {
        enabled = false
        }

        singularity {
            enabled    = true
            autoMounts = true
        }
        params {
        reference_genome = "/lustre/scratch124/casm/team113/ref/human/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa"
        bait_set = "/lustre/scratch125/casm/team113da/projects/DERMATLAS/metadata/references/baitset/DNA/GRCh38_WES5_canonical_pad100.merged.bed"
        resource_files = "/lustre/scratch124/jb63/ascat/resources/1000G_loci_hg38_chr"
        gc_file = "/lustre/scratch124/jb63/ascat/resources/1000G_GC_exome_chr.txt"
        rt_file = "/lustre/scratch124/jb63/ascat/resources/1000G_RT_exome_chr.txt"
        gistic_refgene_file = "/lustre/scratch124/jb63/ascat/hg38.UCSC.add_miR.160920.refgene.mat"
        difficult_regions_file = "/lustre/scratch124/jb63/ascat/resources/GRCh38_alldifficultregions.bed"
        }

    }

    def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    tracedir = "pipeline_info"
    
    report {
        enabled = true
        file    = "execution_report_${trace_timestamp}.html"
    }

}




manifest {
    name            = 'dermatlas_cna'
    author          = 'Kim Wong, Jamie Billington'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/DERMATLAS/analysis-methods/dermatlas_copy_number_nf'
    description     = 'Copy Number analysis pipeline for Dermatlas'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.5'
    version         = '1.0.0'
    defaultBranch   = 'develop'
}
