
profiles {

    standard {
        process.executor = 'local'

        docker {
        enabled = false
        runOptions = '-u $(id -u):$(id -g) -v /home/ubuntu:/home/ubuntu'
        }

        singularity {
            enabled = true
            autoMounts = true
        }
    }

    cluster {
        process.executor = 'lsf'
        docker.enabled = false
        singularity.enabled = true
        process.clusterOptions = "-G cellularoperations -R'select[mem>8000]' -R'rusage[mem=8000]' -M 8000"
        singularity.runOptions = "--bind /lustre"
    }

    // def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    // tracedir = "${params.project}/results/pipeline_info"
    
    // report {
    //     enabled = true
    //     file    = "${params.project}/results/execution_report_${trace_timestamp}.html"
    // }

}

manifest {
    name            = 'dermatlas_cna'
    author          = 'Kim Wong, Jamie Billington'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/DERMATLAS/analysis-methods/ascat'
    description     = 'Copy Number analysis pipeline for Dermatlas'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.6'
    version         = '1.0.0'
    defaultBranch   = 'nextflow_wrapper'
}
