/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {

    standard {
        process.executor = 'local'

        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g) -v /home/ubuntu/projects/dermatlas_copy_number_nf:/home/ubuntu/projects/dermatlas_copy_number_nf'
        }

        singularity {
            enabled = false
            autoMounts = true
        }
    }


}