/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {

    secure_lustre {
        process.executor = 'local'
    
        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g) -v /workspaces/ascat:/workspaces/ascat'
        }

        singularity {
            enabled    = false
            autoMounts = false
        }
    }
}
