
params {
    outdir = "analysis"
    cohort_prefix = "${STUDY}_${PROJECT}_${COHORT}"
    bam_files = "${PROJECT_DIR}/bams/**.bam"
    all_samples = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-analysed_matched.tsv"
    independent = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-independent_tumours_matched.tsv"
    one_per_patient = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-one_tumour_per_patient_matched.tsv"
    metadata_manifest = "${PROJECT_DIR}/metadata/7651-7652_METADATA_Superficial_acral_fibromyxoma_v20241218.tsv"
    release_version = "version1"
 
}