
params {
    outdir = "analysis"
    cohort_prefix = "${STUDY}_${PROJECT}_${COHORT}"
    bam_files = "${PROJECT_DIR}/bams/**.bam"
    all_samples = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-analysed_matched.tsv"
    independent = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-independent_tumours_matched.tsv"
    one_per_patient = "${PROJECT_DIR}/metadata/${STUDY}_${PROJECT}-one_tumour_per_patient_matched.tsv"
    metadata_manifest = "${PROJECT_DIR}/metadata/${METADATA_FILE}"
    reference_genome = "/lustre/scratch127/casm/projects/dermatlas/resources/ascat/GRCh38_full_analysis_set_plus_decoy_hla.fa"
    bait_set = "/lustre/scratch127/casm/projects/dermatlas/resources/baitset/GRCh38_WES5_canonical_pad100.merged.bed"
    resource_files = "/lustre/scratch127/casm/projects/dermatlas/resources/ascat/1000G_loci_hg38_chr"
    gc_file = "/lustre/scratch127/casm/projects/dermatlas/resources/ascat/1000G_GC_exome_chr.txt"
    rt_file = "/lustre/scratch127/casm/projects/dermatlas/resources/ascat/1000G_RT_exome_chr.txt"
    gistic_refgene_file = "/lustre/scratch127/casm/projects/dermatlas/resources/gistic/hg38.UCSC.add_miR.160920.refgene.mat"
    difficult_regions_file = "/lustre/scratch127/casm/projects/dermatlas/resources/giab/GRCh38_alldifficultregions.bed"
    chrom_arms_file =  "/lustre/scratch127/casm/projects/dermatlas/resources/ucsc/grch38_chr_arms.bed"
    gistic_broad_peak_q_cutoff = 0.1
    gistic_focal_q_value_cutoff = 0.1
    ascat_goodness_of_fit_threshold = 90
    release_version = "version1"
    col_sample_id = 'Sanger_DNA_ID'
    col_sex = 'Sex'
    col_include = 'OK_to_analyse_DNA?'
    col_TN = 'Phenotype'
 
}